<!-- Locations -->
<div *ngFor="let location of date.locations" class="col-xs-6">
    <button class="btn btn-primary btn-lg" (click)="startActivities(location)">{{location.name}}</button>
</div>

<!-- Activities -->
<div *ngIf="activitiesEnabled" >
    <div *ngFor="let activity of currentActivities" class="col-xs-6">
        <button class="btn btn-primary" (click)="showActivityDetails(activity)">{{activity.name}}</button><br/>
           {{activity.description}}<br/>
           {{activity.address}}<br/>
        <button class="btn btn-success"S (click)="goToActivities()">Finished {{activity.name}}</button>
    </div>
</div>