<!--put in a section about how it works and links to sample dates-->
<div class="row">
    <div class="jumbotron">
        <h2>Welcome to Create a Date!</h2>
        Create a choose your own adventure date that your significant other will never forget!
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div><a class="btn btn-primary btn-lg" href="#/builder">Create a Date</a></div>
    </div>
    <div class="col-xs-6">
        <div><a class="btn btn-primary btn-lg" href="#/date">My Date</a></div>
    </div>
</div>